/* global rules  */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
}
ul{
    list-style: none;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* small sceen*/
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/* medium screen*/
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* large screen*/
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* end of global rules  */
/* variables start  */
:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --section-background-color: #ececec;
    --transition: 0.3s;
    --section-padding: 100px;
    --main-paragraph-color: #777;
}
/* variables end  */

/* components start  */
h2.special-heading{
    text-transform: uppercase;
    margin: 0 auto 80px;
    width: fit-content;
    font-size: 30px;
    border: 2px solid black;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}
@media (max-width: 767px){
    h2.special-heading{
        font-size: 28px;
    }
}
h2.special-heading:hover{
    color: white;
    border: 2px solid white;
    transition: var(--transition);
    transition-delay:0.5s;
}
h2.special-heading::before,
h2.special-heading::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    transition: 0.5s;
    z-index: -1;
}
h2.special-heading:before{
    left: -30px;
    transform: translateY(-50%);
}
h2.special-heading:after{
    right: -30px;
    transform: translateY(-50%);
}
h2.special-heading:hover::before{
    animation: move-right 0.5s linear forwards;
}
h2.special-heading:hover::after{
    animation: move-left 0.5s linear forwards;
}
@keyframes move-right{
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        border-radius: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes move-left{
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
.spike{
    content: '';
    position: absolute;
    top: -10px;
    height: 30px;
    width: 100%;
    background-image: linear-gradient(-45deg, transparent 33.33%, white 33.33%, white 66.66%, transparent 66.66%),
                    linear-gradient(45deg, transparent 33.33%, white 33.33%, white 66.66%, transparent 66.66%);
    background-size: 30px 60px;
    transform: rotate(180deg);
}
.dots{
    background-image: url(../imgs/dots.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 20%;
    height: 20%;
    max-width: 205px;
}
.up.dots{
    top: 160px;
    right: 0;
}
.down.dots{
    bottom: 160px;
    left: 0;
}
/* components end  */

/* header start */
header{
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media (max-width: 767px){
    header .container{
        flex-direction: column;
    }
}
header .container .logo{
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}
header .container nav .nav-ul{
    display: flex;
}
header .container nav .nav-ul a.main-nav{
    display: block;
    padding: 25px 30px;
    text-decoration: none;
    color: unset;
    font-size: 18px;
    transition: var(--transition);
    position: relative;
}
@media (max-width: 767px){
    header .container{
        flex-direction: column;
    }
    header .container .logo{
        font-size: 25px;
        margin: 15px 0;
    }
    header .container nav .nav-ul a.main-nav{
        font-size: 16px;
        padding: 10px 5px;
    }
}
header .container nav .nav-ul a.main-nav:hover{
    background-color: #fafafa;
    color: var(--main-color);
}
header .container nav .nav-ul a.main-nav:before{
    content: "";
    position: absolute;
    height: 4px;
    top: 0;
    left: 0;
    width: 0%;
    transition: var(--transition);
    background-color: var(--main-color);
}
header .container nav .nav-ul a.main-nav:hover::before{
    width: 100%;
}
header nav .mega-menu{
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto repeat(2, minmax(250px, 1fr));
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-bottom: 3px solid var(--main-color);
    padding: 30px;
    z-index: -1;
    opacity: 0%;
    transition: var(--transition);
}
header nav li.other-links:hover .mega-menu{
    top: calc(100% + 1px);
    z-index: 2;
    opacity: 100%;
}
header nav .mega-menu img{
    max-width: 100%;
}
@media (max-width: 991px){
    header nav .mega-menu .image{
        display: none;
    }
    header nav .mega-menu{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
header nav .mega-menu li{
    position: relative;
}
header nav .mega-menu li:not(:last-of-type){
    border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px){
    header nav .mega-menu{
        grid-template-columns: 1fr;
        gap: 0;
        padding: 5px;
    }
    header nav .mega-menu li:not(.request-li){
        border-bottom: 1px solid #e9e6e6;
    }
}
header nav .mega-menu li::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 0%;
    transition: var(--transition);
    background-color: #fafafa;
}
header nav .mega-menu li:hover::before{
    width: 100%;
}
header nav .mega-menu li a{
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
header nav .mega-menu a i{
    margin-right: 10px;
}
/* header end */

/* start landing */
.landing{
    height: calc(100vh - 70px);
    position: relative;
}
.landing::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: -40px;
    background-color: var(--section-background-color);
    transform: skewY(-6deg);
    transform-origin: top left;
    z-index: -1;
}
.landing .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 120px);
}
.landing .container .text{
    flex: 1;
}
.landing .container .text h1{
    font-size: 40px;
    margin: 0 0 5px;
    letter-spacing: -2px;
}
.landing .container .text p{
    font-size: 23px;
    line-height: 1.7;
    color: #666;
    max-width: 530px;
}
@media (max-width: 767px){
    .landing .container .text h1{
        font-size: 28px;
    }
    .landing .container .text p{
        font-size: 18px;
    }
}
.landing .container .image{
    flex: 1;
}
.landing .container .image img{
    max-width: 600px;
    max-width: 100%;
    animation: up-down 2s linear infinite alternate;
    position: relative;
}
@media (max-width: 991px){
    .landing{
        height: calc(100vh - 97px);
    }
    .landing .container .text{
        text-align: center;
    }
    .landing .container .text p{
        margin: 0 auto;
    }
    .landing .container .image{
        display: none;
    }
}
@keyframes up-down{
    from{
        top: -80px;
    }
    to{
        top: -30px;
    }
}
.landing i{
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: bouncing 1.5s infinite ;
}
@keyframes bouncing{
    0%, 10%, 20%, 50%,70%, 80%, 100%{
        bottom: 30px;
    }
    40%, 60%{
        bottom: 45px;
    }
}
/* end landing */

/* start articles */
.articles{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .container .card{
    border-radius: 6px;
    transition: var(--transition);
    position: relative;
    bottom: 0;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
}
.articles .container .card:hover{
    bottom: 10px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}
.articles .container .card img{
    max-width: 100%;
    border-radius: 6px 6px 0 0;
}
.articles .container .card .text{
    padding: 20px;
}
.articles .container .card .text h3{
    margin: 0 0 10px;
}
.articles .container .card .text p{
    color: var(--main-paragraph-color);
    line-height: 1.5;
}
.articles .container .card .read-more{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e9e6e6;
}
.articles .container .card .read-more a{
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color);
}
.articles .container .card .read-more i{
    color: var(--main-color);
    position: relative;
    left: 0px;
}
.articles .container .card:hover .read-more i{
    animation: arrow-right 0.6s infinite linear;
}
@keyframes arrow-right{
    to{
        left: 10px;
    }
}
/* end articles */

/* start gallery */
.gallery{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
    position: relative;
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .container .box{
    padding: 15px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}
.gallery .container .box .image{
    overflow: hidden;
    position: relative;
}
.gallery .container .box .image::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255/ 25%);
    width: 0%;
    height: 0%;
    z-index: 1;
    opacity: 100%;
}
.gallery .container .image:hover::before{
    animation: flashing 0.7s linear;
}
@keyframes flashing{
    0%{
        width: 0%;
        height: 0%;
        opacity: 100%;
    }
    100%{
        width: 400%;
        height: 400%;
        opacity: 0;
    }
}
.gallery .container .image img{
    max-width: 100%;
    transition: var(--transition);
}
.gallery .container .image:hover img{
    transform: scale(1.1) rotate(3deg);
}
/* end gallery */

/*start features*/
.features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .container .feature{
    border: 1px solid #ccc;
    text-align: center;
}
.features .feature .image{
    position: relative;
}
.features .feature img{
    max-width: 100%;
} 
.features .feature .image::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.features .feature.quality .image::before{
    background-color: rgb(244 64 54 / 60%);
}
.features .feature.time .image::before{
    background-color: rgb(0 150 136 / 60%);
}
.features .feature.passion .image::before{
    background-color: rgb(3 169 244 / 60%);
}
.features .feature .image::after{
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    /* clip-path: polygon(-2% 85%, 101% 50%, 101% 101%, 0% 101%); */
    /* edit: put the moving point first */
    clip-path: polygon(100% 50%, 100% 100%, 0% 100%, -2% 90%);
    transition: var(--transition);
}
.features .feature:hover .image::after{
    clip-path: polygon(-40% 50%, 100% 100%, 0% 100%, -2% 90%);
    /* clip-path: polygon(-2% 85%, -40% 50%, 101% 101%, 0% 101%); */
}
.features .feature h2{
    font-size: 40px;
    margin: 0 auto 20px;
    position: relative;
    width: fit-content;
}
.features .feature h2::after{
    content: '';
    position: absolute;
    width: 75%;
    height: 5px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.features .feature.time h2::after{
    background-color: rgb(0 150 136);
}
.features .feature.quality h2::after{
    background-color: rgb(244 64 54);
}
.features .feature.passion h2::after{
    background-color: rgb(3 169 244);
}
.features .feature p{
    padding: 40px 30px;
    line-height: 2;
    color: var(--main-paragraph-color);
    font-size: 20px;
}
.features .feature a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    width: fit-content;
    margin: 20px auto 30px;
    position: relative;
    z-index: 1;
    transition: var(--transition);
}
.features .feature.quality a{
    color: rgb(244 64 54);
    border: 3px solid rgb(244 64 54);
}
.features .feature.time a{
    color: rgb(0 150 136);
    border: 3px solid rgb(0 150 136);
}
.features .feature.passion a{
    color: rgb(3 169 244);
    border: 3px solid rgb(3 169 244);
}
.features .feature:hover a{
    color: white;
}
.features .feature a::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: var(--transition);
}
.features .feature.quality a::before{
    background-color: rgb(244 64 54);
}
.features .feature.time a::before{
    background-color: rgb(0 150 136);
}
.features .feature.passion a::before{
    background-color: rgb(3 169 244);
}
.features .feature:hover a::before{
    width: 100%;
}
/*end features*/

/* start testimonials */
.testimonials{
    background-color: var(--section-background-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .box{
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    position: relative;
}
.testimonials .box img{
    width: 100px;
    max-width: 100%;
    position: absolute;
    top: 0;
    right: -5px;
    transform: translateY(-50%);
    border: 10px solid var(--section-background-color);
    border-radius: 50%;
}
.testimonials .box span{
    color: var(--main-paragraph-color);
    display: block;
    margin: 10px 0;
}
.testimonials .box .rating{
    margin: 0 0 10px;
}
.testimonials .box i.filled{
    color: #ffc107;
}
.testimonials .box p{
    color: var(--main-paragraph-color);
    line-height: 1.5;
}
/* end testimonials */

/* start team members */
.team-members{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.team-members .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.team-members .container .card{
    padding-top: 60px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}
.team-members .card::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 60px);
    background-color: #f3f3f3;
    z-index: -2;
    border-radius: 10px;
}
.team-members .card::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0%;
    background-color: #e4e4e4;
    z-index: -1;
    border-radius: 10px;
    transition: var(--transition);
}
.team-members .card:hover::after{
    width: calc(100% - 60px);
}
.team-members .card .media{
    display: flex;
}
.team-members .card .media img{
    border-radius: 10px;
    width: calc(100% - 60px);
    transition: var(--transition);
}
.team-members .card:hover img{
    filter: grayscale(100%);
}
.team-members .card .media .soical-icons{
    width: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.team-members .card .media .soical-icons a{
    padding: 15px 0;
}
.team-members .card .media .soical-icons a i{
    color: var(--main-paragraph-color);
    transition: var(--transition);
}
.team-members .card .media .soical-icons a:hover i{
    color: var(--main-color);
}
.team-members .card .info{
    width: calc(100% - 60px);
    margin-left: auto;
    padding: 20px;
}
.team-members .card .info h3{
    font-size: 22px;
    margin: 0 0 10px;
    color: var(--main-color);
    transition: var(--transition);
}
.team-members .card:hover .info h3{
    color: var(--main-paragraph-color);
}
/* end team members */

/* start services */
.services{
    background-color: var(--section-background-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .container .box{
    counter-increment: services;
    background-color: white;
    padding: 30px 0 0;
    text-align: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
                0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    bottom: 0;
    left: 0;
    transition: var(--transition);
}
.services .container .box::before{
    content: '';
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background-color: var(--main-color);
    transition: var(--transition);
}
.services .container .box:hover{
    bottom: 10px;
}
.services .container .box:hover::before{
    width: 100%;
}
.services .container .box i{
    color: #d5d5d5;
    margin: 0 0 20px;
}
.services .container .box h3{
    color: var(--main-color);
    font-size: 25px;
    margin: 0 0 40px;
}
.services .container .box .info{
    background-color: #f9f9f9;
    padding: 15px;
    text-align: right; 
    position: relative;
}
.services .container .box .info::before{
    content: "0"counter(services);
    position: absolute;
    height: 100%;
    width: 80px;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 0;
}
.services .container .box .info::after{
    content:'';
    position: absolute;
    top: 0;
    left: 80px;
    height: calc(100% + 0.3px);
    width: 50px;
    background-color: #d5d5d5;
    transform: skewX(-30deg);
}
.services .container .box .info a{
    text-decoration: none;
    color: var(--main-color);
}
/* end services */

/* start our skills  */
.our-skills{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.our-skills .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.our-skills .container img{
    max-width: 100%;
}
@media (max-width: 991px){
    .our-skills .container .image{
        display: none;
    }
}
.our-skills .container .prog-holder{
    flex: 1;
}
.our-skills .prog-holder h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-skills .prog-holder h3 span{
    font-size: 12px;
    color: var(--main-color);
    font-weight: bold;
    padding: 4px 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.our-skills .prog-holder .prog{
    background-color: #eee;
    height: 30px;
    margin: 20px 0; 
    position: relative;
}
.our-skills .prog-holder .prog span{
    width: 80%;
    background-color: var(--main-color);
    height: 100%;
    display: block;
}
/* end our skills  */

/* start how it works */
.how-it-works{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}
.how-it-works .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.how-it-works .container .image{
    flex-basis: calc(50% - 40px);
}
@media (max-width: 991px){
    .how-it-works .container{
        flex-direction: column;
        gap: 40px;
    }
}
.how-it-works .container .image img{
    max-width: 100%;
}
.how-it-works .container .info{
    flex-basis: 50%;
}
.how-it-works .container .info .box{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
    background-color: #f6f5f5;
    border-radius: 8px;
    border: 2px solid white;
    position: relative;
    z-index: 2;
}
.how-it-works .container .info .box:not(:last-child){
    margin-bottom: 20px;
}
.how-it-works .container .info .box::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: var(--section-background-color);
    transition: var(--transition);
    z-index: -1;
}
.how-it-works .container .info .box:hover::before{
    width: 100%;
    height: 100%;
}
.how-it-works .container .info .box .text h3{
    font-size: 22px;
    margin-bottom: 10px;
}
.how-it-works .container .info .box .text p{
    color: var(--main-paragraph-color);
    line-height: 1.7;
    font-size: 18px;
}
.how-it-works .container .info img{
    max-width: 100%;
    width: 65px;
}
@media (max-width: 767px){
    .how-it-works .container .info .box{
        flex-direction: column;
        text-align: center;
    }
}
/* end how it works */

/* start EVENTS */
.events{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.events .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.events .container .image{
    flex-basis: 40%;
}
.events .container .image img{
    max-width: 100%;
}
@media (max-width: 991px){
    .events .container{
        flex-direction: column;
    }
    .events .container .image img{
        width: 450px;
    }
}
.events .container .info{
    flex-basis: 60%;
    text-align: center;
}
.events .container .info .timer{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.events .container .info .timer .unit{
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    width: 75px;
    max-width: 100%;
    transition: var(--transition);
}
.events .container .info .timer .unit:hover{
    border-color: var(--main-color);
}
.events .container .info .timer .unit span{
    display: block;
}
.events .container .info .timer .unit span:first-of-type{
    font-size: 35px;
    padding: 15px 0;
    font-weight: bold;
    border-bottom: inherit;
    color: var(--main-color);
}
.events .container .info .timer .unit span:last-of-type{
    font-size: 13px;
    padding: 8px 0;
}
.events .container .info h3{
    font-size: 30px;
    margin: 40px 0 20px;
}
.events .container .info p{
    font-size: 19px;
    line-height: 1.7;
    color: var(--main-paragraph-color);
}
.events .container form{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #f6f5f5;
    padding: 30px;
    border-radius: 50px;
    width: 600px;
    max-width: 100%;
    margin: 80px 0 0 ;
}
.events .container form input[type=email]{
    padding: 20px;
    border-radius: inherit;
    border: none;
    width: calc(100% - 139px);
    caret-color: var(--main-color);
}
.events .container form input[type=submit]{
    padding: 20px;
    border-radius: inherit;
    color: white;
    background-color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
    border: none;
    width: 109px;
    max-width: 100%;
    transition: var(--transition);
}
@media (max-width: 767px){
    .events .container form{
        flex-direction: column;
        border-radius: 0;
        padding: 10px;
    }
    .events .container form input[type=email]{
        width: 100%;
    }
    .events .container form input[type=submit]{
        width: 100%;
    }
}
.events .container form input[type=email]:focus{
    outline: none;
}
.events .container form input[type=email]:focus::placeholder{
    transition: var(--transition);
}
.events .container form input[type=email]:focus::placeholder{
    color: transparent;
}
.events .container form input[type=submit]:hover{
    background-color: var(--main-color-alt);
}
/* end EVENTS */

/* start PRICING PLANS  */
.pricing-plans{
    position: relative;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}
.pricing-plans .container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}
.pricing-plans .container .plan{
    position: relative;
    z-index: 1;
    background-color: white;
    text-align: center;
    padding: 30px 0px;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
                0 2px 4px 0 rgb(0 0 0 / 12%);
}
@media (min-width: 991px){
    .pricing-plans .container .plan:nth-child(2){
        bottom: 20px;
    }
}
.pricing-plans .container .plan::before,
.pricing-plans .container .plan::after{
    content: '';
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    transition: var(--transition);
    z-index: -1;
}
.pricing-plans .container .plan::before{
    top: 0;
    left: 0;
}
.pricing-plans .container .plan::after{
    bottom: 0;
    right: 0;
}
.pricing-plans .container .plan:hover::before,
.pricing-plans .container .plan:hover::after{
    width: 100%;
}
.pricing-plans .container .plan h3{
    font-size: 25px;
    letter-spacing: -1px;
}
.pricing-plans .container .plan img{
    width: 80px;
    max-width: 100%;
    margin: 30px 0;
}
.pricing-plans .container .plan span{
    display: block;
}
.pricing-plans .container .plan span.label{
    background-color: var(--main-color);
    padding: 10px 10px 35px;
    writing-mode: vertical-lr;
    color: white;
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 18px;
    font-weight: bold;
}
.pricing-plans .container .plan span.label::after{
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 100%, 50% 85%, 100% 100%);
    background-color: white;
    transition: calc(var(--transition) + 0.1s);
}
.pricing-plans .container .plan:hover span.label::after{
    background-color: #f6f6f6;
}
.pricing-plans .container .plan span.price{
    color: var(--main-color);
    font-size: 60px;
    font-weight: bold;
}
.pricing-plans .container .plan span.time{
    margin: 5px 0 20px;
    color: var(--main-paragraph-color);
}
.pricing-plans .container .plan ul{
    text-align: left;
}
.pricing-plans .container .plan ul li{
    border-top: 1px solid #eee;
    padding: 20px;
}
.pricing-plans .container .plan ul li::before{
    content: '\f00c';
    font-family: 'font awesome 5 free';
    font-weight: 900;
    color: var(--main-color);
    margin: 0 10px 0 0;
}
.pricing-plans .container .plan a{
    text-decoration: none;
    display: block;
    width: fit-content;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    margin: 30px auto 0;
    padding: 15px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: var(--transition);
}
.pricing-plans .container .plan a:hover{
    background-color: var(--main-color-alt);
    border-color: var(--main-color-alt);
    color: white;
}
/* end PRICING PLANS  */

/* start TOP VIDEOS */
.top-videos{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.top-videos .container .holder{
    display: flex;
    border: 1px solid #ddd;
}
.top-videos .container .list{
    flex-basis: 300px;
}
@media (max-width: 991px){
    .top-videos .container .holder{
        flex-direction: column;
    }
}
.top-videos .container .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;
}
.top-videos .container ul li{
    padding: 20px;
    transition: var(--transition);
    cursor: pointer;
    border-top: 1px solid var(--section-background-color);
}
.top-videos .container ul li:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
.top-videos .container ul li span{
    display: block;
    margin: 10px 0 0;
    color: var(--main-paragraph-color);
}
.top-videos .container .video-preview{
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: calc(100% - 300px);
}
.top-videos .container .video-preview img{
    max-width: 100%;
}
.top-videos .container .video-preview p{
    background-color: white;
    padding: 20px;
    margin-top: 10px;
}
/* end TOP VIDEOS */

/* start STATS */
.stats{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
    background-image: url(../imgs/stats.jpg);
    background-size: cover;
    position: relative;
}
.stats::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
}
.stats h2{
    font-size: 40px;
    margin: 0 auto 50px;
    width: fit-content;
    position: relative;
}
@media (max-width: 767px){
    .stats h2{
        font-size: 35px;
    }
}
.stats .container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.stats .container .stat{
    background-color: white;
    padding: 30px;
    text-align: center;
    opacity: 80%;
    transition: var(--transition);
    position: relative;
}
.stats .container .stat::before,
.stats .container .stat::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 1s;
}
.stats .container .stat::before{
    left: 0;
    bottom: 0;
}
.stats .container .stat::after{
    right: 0;
    top: 0;
}
.stats .container .stat:hover::before,
.stats .container .stat:hover::after{
    height: 100%;
}
.stats .container .stat:hover{
    opacity: 100%;
}
.stats .container .stat span{
    display: block;
}
.stats .container .stat .number{
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
}
.stats .container .stat .text{
    color: var(--main-color);
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
/* end STATS */

/* start REQUEST A DISCOUNT */
.discount{
    display: flex;
    text-align: center;
}
@media (max-width: 991px){
    .discount{
        flex-direction: column;
    }
}
.discount .info{
    background-image: url(../imgs/discount-background1.jpg);
    background-size: cover;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}
.discount .info::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
}
.discount .content{
    position: relative;
    padding: 20px;
}
.discount h2{
    font-size: 40px;
    margin: 60px 0 30px;
    letter-spacing: -1px;
}
@media (max-width: 767px){
    .discount h2{
        font-size: 35px;
    }
}
.discount .info h2{
    color: white;
}
.discount .info p{
    color: white;
    font-size: 18px;
    line-height: 1.6;
    max-width: 500px;
    margin: 0 auto 30px;
}
.discount .info img{
    width: 300px;
    max-width: 100%;
}
.discount .form{
    flex: 1;
    display: flex;
    justify-content: center;
}
.discount .form .content form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.discount .form .content form input,
.discount .form .content form textarea{
    background-color: #f9f9f9;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    caret-color: var(--main-color);
}
.discount .form .content form textarea{
    height: 200px;
    resize: none;
}
.discount .form .content form input:focus,
.discount .form .content form textarea:focus{
    outline: none;
}
.discount .form .content form input[type=submit]{
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: var(--main-color);
    transition: var(--transition);
    margin-bottom: 20px;
}
.discount .form .content form input[type=submit]:hover{
    background-color: var(--main-color-alt);
}
/* end REQUEST A DISCOUNT */

/* start FOOTER  */
footer{
    background-color: #191919;
    padding: 70px 0 0;
}
footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
footer .container .box{
    color: #b9b9b9;
}
footer .box.one h2{
    font-size: 50px;
    color: white;
}
footer .box.one ul.icons{
    display: flex;
    gap: 10px;
    margin: 20px 0;
    align-items: center;
}
footer .box.one ul.icons a{
    background-color: #313131;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: var(--transition);
    text-decoration: none;
}
footer .box.one ul.icons a.facebook:hover{
    background-color: #1877f2;
}
footer .box.one ul.icons a.twitter:hover{
    background-color: #1da1f2;
}
footer .box.one ul.icons a.youtube:hover{
    background-color: #ff0000;
}
footer .box.one ul.icons i{
    color: #b9b9b9;
}
footer .box.one p{
    line-height: 2;
}
footer .box.two ul.links li:not(:first-of-type) {
    border-top: 1px solid #444;
}
footer .box.two ul.links a{
    color: #b9b9b9;
    text-decoration: none;
    display: block;
    padding: 15px 0;
    transition: var(--transition);
}
footer .box.two ul.links li{
    transition: var(--transition);
}
footer .box.two ul.links li:hover{
    padding-left: 10px;
    color: white;
}
footer .box.two ul.links a:hover{
    color: white;
}
footer .box.two ul.links a:before{
    content:'\F101';
    font-family: "font awesome 5 free";
    font-weight: 800;
    margin: 0 10px 0 0;
    color: var(--main-color);
}
footer .box.three .line{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
@media (max-width:767px){
    footer{
        text-align: center;
    }
    footer .box.one ul.icons{
        justify-content: center;
    }
    footer .box.three .line{
        flex-direction: column;
    }
}
footer .box.three .line i{
    font-size: 25px;
    color: var(--main-color);
}
footer .box.three .line address,
footer .box.three .line p{
    line-height: 2;
}
footer .box.three .line .phones{
    line-height: 1.7;
}
footer .box.three .line .phones span{
    display: block;
}
footer .box.four img{
    width: 78px;
    max-width: 100%;
    border: 3px solid white;
    margin: 2px;
}
footer>p{
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 25px 10px;
    border-top: 1px solid #444;
    margin-top: 50px;
}
footer>p span{
    color: var(--main-color);
}
/* end FOOTER  */